POSTGRES_DB=familystream
POSTGRES_USER=familystream
POSTGRES_PASSWORD=change-me
BACKEND_PORT=8080
DISPATCHARR_PORT=9191
HOST_COUNTRY=FR
PUBLISH_MIN_SCORE=60
ADULT_CONTENT=false
DISPATCHARR_URL=http://dispatcharr:9191
JELLYFIN_URL=
JELLYFIN_API_KEY=
